<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="MyAgent"
    Manufacturer="Epitech"
    Version="1.0.0"
    UpgradeCode="12345678-1234-1234-1234-123456789012">

    <MediaTemplate />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="MyAgent" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="MyAgent" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>

  </Package>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AgentExeComponent" Guid="42107123-84e3-451e-b386-3c3f7ee3e7fe">
        <File Source="agent.exe" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="AgentExeComponent"/>
    </ComponentGroup>
  </Fragment>

</Wix>
